* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
}

.featyres__wrapper {
    border: 2px solid #0056b3;
    padding: 15px 40px;
    margin: 200px;
}

.featyres__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px;
    gap: 40px;
    line-height: 1.5;
}

.featyres__item {
    display: flex;
}

.featyres__img {
    font-size: 44px;
    margin-right: 20px;
}

.featyres__descr {
    display: flex;
    flex-direction: column;
}

.featyres__descr span{
    color: rgb(136, 136, 136);
}

.featyres__title {
    font-size: 16px;
    font-weight: 700;
}